
*{
    margin:0;
    padding:0;
    overflow: hidden;
}
body{
    background-color: rgb(225, 204, 204);
}
input{
    width: 350px;
    height: 30px;
    margin-bottom:15px;
}
button.form-submit {
    padding: 5px;
    width: 350px;
    background-color: #90d6ac;
    margin-bottom: 20px;
}
span{
    font-size: 13px;
    color:grey;
}