form{
    width: 400px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    background-color: #fff;
}
*{
    margin:0;
    padding:0;
    overflow: hidden;
}
body{
    background-color: rgb(225, 204, 204);
}